@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;700&display=swap");

body {
  font-family: "Farro", sans-serif;
}

.card:first-child {
  margin-left: 0;
}

.description {
  margin-bottom: 5rem;
}

.search-form {
  top: 2%;
  left: 5%;
}
